<!doctype html>
<html ng-app="njamNjamApp">

	<head>
		<title>Hello AngularJS</title>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
     	<script type="text/javascript" src="js/main.js"></script>
	</head>

	<body>
		<div ng-controller="MainController">
			<h2> Aliens </h2>
		    <p ng-repeat="alien in aliens">
		     {{alien}}
		    </p>
			<h2> Humans </h2>
		    <p ng-repeat="human in humans">
		     {{human}}
		    </p>
		    <h2> Match </h2>
		    <p ng-repeat="contact in contacts">
		     {{contact}}
		    </p>
		<button type="submit" ng-click="init()">Kill more people !!!</button>
		</div>

	</body>

</html>